html{
    padding: 0px;
    margin: 0px;
}

.flex_center {
    justify-content: center;
}
.text_center {
    text-align: center;
}
.main {
    display:flex;
}
.vertical {
  flow:vertical;
}
.horizontal{
  flow:horizontal;
}
caption{
    height:1**;
    width:1**;
    padding:5px;
    padding-left:40px;
    padding-top:7px;
    background-color:#ccc;
    color:#777;
}
.grow {
     grow: 0;
}
.grow1 {
     grow: 1;
}
.shark{
    shark:0;
}
.flex {
  display:flex;   
}


workspace{
    flex-grow: 0;
    display:block;
    height:1**;
    display:flex;
}
top {
    display:block;
    border-bottom:1px solid grey;
}
bottom {
    height:200px;
    display:block;
}
bottom>div{
    display:flex;
}
left{
    width:200px;
    height:1**;
}
right{
    width:200px;
    height:1**;
}
center {
    height:1**;
    flex-grow: 0;
    display:flex;
}

splitter { border:none; background:#ddd;}


statusbar{
    display:block;
    padding:5px 0px ;
    padding-left:2px;
    background-color:#ccc;
}

.editor {
    width:1**;
}

