@set tab{
    :root {
        display:block;
        width:1**;
        height: 1**;
    }
    .fas {
        padding: 2px 2px;
        cursor: pointer;
        color:#777;
    }
    .title {
        display:block;
        border-bottom:1px solid grey;
        
    }
    .select {
        background-color:#ccc;
    }
    content {
        display:block;
        grow:1;
        height: 1**;
    }
    span.item {
        padding: 2px 10px;
        height:20px;
        cursor: pointer;
        line-height:8px;
        border-right:1px solid grey;
       
    }
    .cell{
        line-height:8px;
        margin-top:*; 
        margin-bottom:*; 
    }
    .name {
        white-space:nowrap;
        line-height:8px;
        margin-top:*; 
        margin-bottom:*; 
    }
    closeHandler {
        color:#999;
        margin-top:*; 
        margin-bottom:*; 
        margin-left:10px;
    }
}

@set tabitem{
    :root {
        display:block;
        width:1**;
        height:1**;
        padding: 0px 0px;
        text-align:left;
    }
    .title {
        display:block;
    }
    content {
        display:block;
    }
    li.item {
        padding: 5px 10px;
        cursor: pointer;
    }
}