@set CodeEditor{
    :root {
        padding: 2px;
        border: none;
    }
    plaintext {
        overflow: scroll-indicator;
        font-family: monospace;
        font-size: 10pt;
        color: black;
    }

}