@set EditorView{
    :root {
        display:block;
        width:1**;
        height:1**;
        background-color:#ddd;
        overflow: auto;
    }
    .EditorView {
        width:1**;
        height:1**;
    }
}