@set FileTree{
    :root {
        display:block;
        width:1**;
        height:1**;
        background-color:#ddd;
        overflow: auto;
    }
    .title {
        display:block;
    }
    content {
        display:block;
    }
    li.item {
        padding: 5px 10px;
        cursor: pointer;
    }
    .directory,.file {
        padding:  2px;
    }
    .directory:hover,.file:hover {
        cursor: pointer;
        background-color:#ccc;
    }
    .folder {
        margin-left:5px;
        padding-left:5px;
    }
    .file {
        margin-left:16px;
    }
    .fa-file  ,.fa-folder {
        width:16px;
        
    }
    .fa-angle-right,.fa-angle-down {
        width:10px;
        padding: 0px 2px;
    }
    .fas {
        color:#777;
    }
}