@set menu2{
    :root {
        display:block;
        margin: 0px;
        padding:5px;
        background-color:#ccc;
        height:1**;
    }
    .fas {
        padding: 2px 2px;
        cursor: pointer;
        color:#777;
    }
}