@set Toolbar{
    :root {
        flex:horizontal;
        padding:5px 0px ;
        padding-left:2px;
        background-color:#ddd;
        align-items:center;
    }

    .item {
        margin-left:5px;
        margin-right:5px;
        margin-top:*;
        margin-bottom:*;
        cursor: pointer;
    }
    .item:hover{
        background-color:red;
    }
}